<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
        <div id="container">


            <div id="title" class="row">
                <div class="col-10 middle col-sm-5">Brigham Young University<br> Idaho</div>
                <div class="col-10 col-sm-2 align-self-center"><br>x</div>
                <div class="col-10 col-sm-4">
                    <img src="/picture/ACMLogo.png" id="logo"></div>
                <div class="titlebg"></div>
            </div>
            <div id="video-container">
                <video autoplay loop muted>
                <source src="/picture/acmintro.mp4" type="video/mp4">
              </video>
            </div>

            <div class="break"></div>
            <!-- break -->

            <div id="button">
                <button type="button" class="btn btn-secondary">Get Started</button>
            </div>
        </div>

</body>


<script type="text/javascript">
    document.getElementById("button").onclick = function() {
        location.href = "https://forms.gle/MAACCdjWJTgxLSEA8";
    };
</script>

</html>